.pagi {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(243, 247, 247);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
